  <!---
 * Created by Salma Essam  on 28/06/2024.
  -->
  <!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Amazon Cart</title>
          <link  rel="stylesheet" href="../Style/AmazonClone.css">
          <link  rel="stylesheet" href="../Style/Cart.css">
         <!-- <script src="Scripts/AmazonClone.js"defer></script>--> 
      </head> 
      <body>
        <nav>
          <a href="#">
            <img src="../Images/amazon_logo.png" width="100" alt="Amazon Logo">
          </a>
         <div class="navLocation">
          <img src="../Images/location_icon.png" height="20" alt="Location">
          <div>
            <p>Delever To</p>
            <h1>Egypt</h1>
           </div>
        </div>
         
           <div class="navSearch">
            <div class="navSearchCategory">
              <p>All</p>
              <img src="../Images/dropdown_icon.png" height="12" alt="dropdown">
            </div>
            <input type="text" class="navSearchInput" placeholder="Search Amazon">
            <img src="../Images/search_icon.png" class="navSearchIcon" alt="search icon">
           </div>
           <div class="navLanguage">
            <img src="../Images/us_flag.png" width="25" alt="flag">
            <p>EN</p>
            <img src="../Images/dropdown_icon.png" width="8" alt="dropdown">
           </div>
           <div class="navText">
            <p><a href="SignIn.html"> Hello, Sign in</a></p>
            <h1>Account & Lists  <img src="../Images/dropdown_icon.png" width="8" alt="dropdown"></h1>
           </div>
           <div class="navText">
            <p>Return</p>
            <h1>& Orders</h1>
           </div>
           <a href="SignIn.html" class="mobileUserIcon" style="display: none;">
            <img src="../Images/user.png" alt="User">
          </a>
           <a href="Cart.html" class="navCart">
            <img src="../Images/cart_icon.png" width="35" alt="Cart">
            <h4>Cart</h4>
          </a>
        </nav>
        <div class="navBottom">
          <div>
            <img src="../Images/menu_icon.png" width="25" alt="menu">
            <p>All</p>
          </div>
          <p>Today's Deals</p>
          <p>Customer Service</p>
          <p>Registry</p>
          <p>Gift Card</p>
          <p>Sell</p>
        </div>

        <div class="Cart">
          <div class="cartLeft">
            <h1>Shopping Cart</h1>
            <hr>
            <div class="productCartList">
              <img src="../Images/ipad_img.jpg" alt=""  width="180">
              <div>
                <div class="productCartTitlePrice">
                  <p>
                    Apple iPad (9th Generation) The iPad (9th generation), 
                    (also referred to as the iPad 10.2-inch) is a tablet computer
                     developed and marketed by Apple as the successor to the eighth-generation iPad.</p>
                     <p><b>$249.00</b></p>
                </div>
                <p class="productCardBestSeller"><span>#1 Best Sellers</span> in Computer Tablets</p>
                <p class="productCartStock">In Stock</p>
                <p class="productCartDelivery">FREE Delivery <b>Mon, 29 Januuary </b> avilable in checkout</p>
                <p class="productCartReturn">FREE Return &#11191</p>
                <p class="productCartGiftOption">Gift Option not avilable <span>Learn More</span></p>
                <div class="productCartSpaces">
                  <p><b>Style:</b></p> <p>Wifi</p>
                  <p><b>Size:</b></p> <p>64GB</p>
                  <p><b>Color:</b></p> <p>Space Gray</p>
                </div>
                <div class="CartListAction">
                  <select>
                    <option value="1">Qty:1</option>
                    <option value="2">Qty:2</option>
                    <option value="3">Qty:3</option>
                    <option value="4">Qty:4</option>
                    <option value="5">Qty:5</option>
                </select>
                <hr>
                <p class="ActionBtn">Delete</p>
                <hr>
                <p class="ActionBtn">Save for Later</p>
                <hr>
                <p class="ActionBtn">Compare with Similar Item</p>
                <hr>
                <p class="ActionBtn">Share</p>
               
                </div>
                
              </div>
            </div>
            <hr>
            <div class="productCartList">
              <img src="../Images/product_img.jpg" alt="" width="180">
              <div>
                <div class="productCartTitlePrice">
                  <p>
                    BENGOO G9000 Stereo Gaming Headset for PS5 PS4, PC,
                        Xbox One Controller, Noise Cancelling Over Ear
                        Headphones with Mic, LED Light, Bass Surround,
                        Soft Memory Earmuffs for Laptop Mac Nintendo PS3</p>
                     <p><b>$25.99</b></p>
                </div>
                <p class="productCardBestSeller"><span>#1 Best Sellers</span>in PC Games Headsets</p>
                <p class="productCartStock">In Stock</p>
                <p class="productCartDelivery">FREE Delivery <b>Mon, 29 Januuary </b> avilable in checkout</p>
                <p class="productCartReturn">FREE Return &#11191</p>
                <p class="productCartGiftOption">Gift Option not avilable <span>Learn More</span></p>
                <div class="productCartSpaces">
                  <p><b>Style:</b></p> <p>wired</p>
                  <p><b>Size:</b></p> <p>Free</p>
                  <p><b>Color:</b></p> <p>Blue</p>
                </div>
                <div class="CartListAction">
                  <select>
                    <option value="1">Qty:1</option>
                    <option value="2">Qty:2</option>
                    <option value="3">Qty:3</option>
                    <option value="4">Qty:4</option>
                    <option value="5">Qty:5</option>
                </select>
                <hr>
                <p class="ActionBtn">Delete</p>
                <hr>
                <p class="ActionBtn">Save for Later</p>
                <hr>
                <p class="ActionBtn">Compare with Similar Item</p>
                <hr>
                <p class="ActionBtn">Share</p>
               
                </div>
                
              </div>
            </div>
            <hr>
            <div class="cartListSubtotal">
              Subtotal (2 items): <b>$274.99</b>
            </div>
          </div>
          <div class="cartRight">
            <div class="cartFeeDelivery">
              <p>&#x2705</p>
              <p>Your Order is Qualifies for FREE Shipping . <b>Chose this Option at Checkout</b> See Details</p>
              <p class="cartSubtotal"> Subtotal (2 items): <b>$274.99</b> </p>
              <p class="cardRightGift"> <input type="checkbox"> This Order Contain a Gift</p>
              <button>Proceed to Checkout</button>
            </div>
          </div>
        </div>
       
         <footer class="footerCart">
         <img src="../Images/amazon_logo.png" width="100" alt="Amazon Logo">
          <p>© 1996–2024, Amazon.com, Inc. or its affiliates</p>
        </footer>
      </body>
  </html>